.App{

}

img{
  height: 150px;
  width: 300px;}

  .slider-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button{
    cursor: pointer;
  }

  h1{
    text-align:center ;
  }

  .buttons-container,
  .emoji-container{
    display: flex;
    width:250px;
    justify-content: space-between;
    font-size: 30px;
  }